// Header
.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 10px 0 20px;

  @media screen and (min-width: 690px) {
    padding: 16px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  background-image: linear-gradient(
    to bottom,
    rgba(0, 11, 29, 0.8) 75%,
    rgba(0, 11, 29, 0) 100%
  );
  transition: transform 300ms;

  &.hidden-up {
    transform: translateY(-100%);
  }
}

.search-form,
.option-form {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 690px) {
    width: 42%;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #b5b5b5;

    & select {
      background-color: transparent;
      color: white;
      text-align: center;
      border-color: transparent;
      outline: transparent;
      cursor: pointer;
      border-radius: 10px;
      transition: color 250ms, outline 250ms, background-color 250ms;

      &:hover,
      &:focus {
        outline: 2px solid #fab914;
        color: #fab914;
        // background-color: teal;
      }

      font-weight: 700;
      line-height: 1.25;
      letter-spacing: 0.02em;
    }
  }
}

.option-form {
  @media screen and (max-width: 690px) {
    margin-bottom: 6px;
  }

  &__span {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 250ms, left 250ms, outline 100ms;

    &:hover,
    &:focus {
      outline: 2px solid #fab914;
      outline-offset: 1px;
    }

    &:before {
      position: absolute;
      bottom: 1px;
      left: 1px;
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background-color: #089c9c;
      transition: background-color 250ms, left 250ms;
    }
  }

  & input {
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;

    &:checked + .option-form__span {
      background-color: #089c9c;
    }

    &:checked + .option-form__span:before {
      width: 18px;
      height: 18px;
      left: 21px;
      background-color: #ffd774;
      transition: background-color 250ms, left 250ms;
    }
  }
}

%btn {
  padding: 6px;

  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;

  border-color: transparent;
  border-radius: 25px;

  outline: transparent;
}

button {
  &.search,
  &.more {
    @extend %btn;

    color: #ffd774;
    background-color: #089c9c;
    transition: background-color 250ms, outline 250ms;

    &:hover,
    &:focus {
      background-color: teal;
      outline: 2px solid #fab914;
      outline-offset: 1px;
    }

    &.more {
      width: 20%;
      margin: 0 auto 20px;
    }
  }
}

input {
  &.search {
    @extend %btn;

    text-align: center;
    transition: outline 250ms;

    &:hover,
    &:focus {
      outline: 2px solid #fab914;
      outline-offset: 1px;
    }
  }
}
